.tab1--parent{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.tab1--parent > p{
    font-size: 100px;
    color: blueviolet;
    text-shadow: 2px 2px 4px blueviolet;
}